<nav>
    <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="../catalogo.html">Mesas</a></li>
        <li><a href="../pages/accesorios.html">Accesorios</a></li>
        <li><a href="../pages/sillas.html">Sillas</a></li>
        <li><a href="../pages/contacto.html">Contacto</a></li>

        <!-- NUEVO: icono carrito -->
        <li class="carrito-header">
            <a href="../pages/carrito.html">
                🛒 <span id="carrito-count">0</span>
            </a>
        </li>
    </ul>
</nav>
